body {
  background-color: #5bbb73;  
}

h1 {
  color: black;
}

#chat-window {  
  position: relative;
  background-color: black;
  color: rgb(244, 138, 248);
  width: 600px;
  height: 500px;
  border: 2px solid blanchedalmond;
  padding: 5px 5px 5px 10px;
  line-height: 1.5;  
}

#chat-bar-gratia {
  background-color: black;
  color: rgb(244, 138, 248);
  width: 600px;
  height: 40px;
  border: 2px solid blanchedalmond;
  padding: 0px 5px 0px 10px;
}

#type-here {
  background-color: black;
  color: rgb(54, 230, 255);
  width: 600px;
  height: 40px;
  border: 2px solid hsl(36, 100%, 90%);
  padding: 0px 5px 0px 10px;
}

#1{
  color: rgb(54, 230, 255);
  white-space: pre-line;
}
#2{
  color: rgb(94, 255, 54);
  white-space: pre-line;
}

#resizer {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, #ffebcd 50% 58%, rgba(0, 0, 0, 0) 58% 74%, #ffebcd 74% 82%, rgba(0, 0, 0, 0) 76%);
  cursor: ew-resize;
}