body {
  background-color: #5bbb73;  
}

h1 {
  color: black;
}

#chat-window {
  background-color: black;
  color: rgb(244, 138, 248);
  width: 600px;
  height: 600px;
  border: 2px solid blanchedalmond;
  padding: 5px 5px 5px 10px;
  line-height: 1.5;  
}

#type-here {
  background-color: black;
  color: rgb(54, 230, 255);
  width: 600px;
  height: 40px;
  border: 2px solid blanchedalmond;
  padding: 0px 5px 0px 10px;
}

#replyText {
  color: rgb(54, 230, 255);
  white-space: pre-line;
}